@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root{
    --main-color:#AA77FF;
    --second-color:#ffff;
}

section{
    padding: 50px 10%;
}
*::selection{
    color: #fff;
    background: var(--main-color);
}

img{
    width: 100%;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(41, 35, 54, 0.5);
    box-shadow: 0 4px 41px rgb(14, 55, 54 / 14%);
    padding: 12px 10%;
    transition: 0.2s;

}
ul{
    gap: 4rem;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 40px;
}

.navbar{
    display: flex;
    margin: 1rem 0 1rem 0;
}

.navbar a{
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.navbar a:hover{
color: var(--main-color);
}

.navbar a::before {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: var(--main-color);
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: width 0.3s ease;
  }

.navbar a:hover::before {
    width: 100%;
  }

.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #292336;
    gap: 1rem;
}

.home-text{
    flex: 1 1 17rem;
}


.home-img{
    flex: 1 1 17rem;
}

.home-img img{
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0%{
        transform: translate(-11px, 0);
    }
    50%{
        transform: translate(-0px, -11px);
    }
    100%{
        transform: translate(-11px, 0);
    }
}

.home-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--second-color);
}

.home-text h1{
    font-size: 4.2rem;
    color: var(--main-color);
    font-weight: bolder;
}
.home-text h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: uppercase;
    margin: 0.5rem 0 1.4rem;
}

.home-text h2 span{
text-transform: lowercase;
color: #a999c2;
}

.btn{
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
}
.btn:hover{
    color: var(--main-color);
    background: var(--second-color);
}
.heading{
    text-align: center;
    text-transform: uppercase;
}
.heading span{
    font-size: 1rem;
    font-weight: 600;
    color: #a999c2;
}
.heading h1{
    font-size: 2rem;
    color: var(--main-color);
}
#shop{
    background-color: #ffffff;
}

.shop-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
}

.shop-container .box{
    flex: 1 1 10rem;
    background: var(--main-color);
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;
}
.shop-container .box .box-img{
    width: 150px;
    height: 150px;
    margin-top: -100px;
}
.shop-container .box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.stars{
    margin: 1rem 0 0.1rem;
}
.shop-container .box .stars .bx{
    color: #ebdbc8
}
.shop-container .box h2{
    color: #ebdbc8;
    font-size: 1.2rem;
}
.shop-container .box span{
    color: #ebdbc8;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.2rem 0 0.5rem;
}
.box .btn{
    border: 2px solid #ebdbc8;
    color: #ebdbc8;
}
.box .btn:hover{
    background: #ebdbc8;
    color: var(--second-color);
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;

}

.about{
    display: flex;
    flex-wrap: wrap;
    background: #292336;
    gap: 1.5rem;
}
.about-img{
    flex: 1 1 17rem;
}
.about-text{
    flex: 1 1 17rem;
    margin-top: 7rem;
}
.about-text h2{
    font-size: 1.2rem;
    color: var(--second-color);
}
.about-text p{
    margin: 0.5rem 0 2rem 0;
    text-align: justify;
    color:#a999c2;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
.social a{
    font-size: 27px;
    margin: 0.5rem;
}
.social a .bx {
    padding: 5px;
    color: #fff;
    background: #000000;
    border-radius: 50%;
}
.social a .bx:hover{
    background-color: var(--main-color);
}
.links{
    margin: 1rem 0 0rem;
}
.links a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-color);
    padding: 1rem;
}
.links a:hover{
    color: var(--second-color);
}
.content p{
    text-align: center;
}

.title{
    margin-bottom: 2rem;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    gap: 2rem;
}

.pag-btn{
    padding: 7px 16px;
    border: 2px solid #ebdbc8;
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
    background-color: var(--main-color);
}

.pag-btn:hover{
    background-color: #ebdbc8;
}

